*{
    padding: 0px;
    margin: 0px;
}
.prj-img{
    border-top: solid rgb(167, 249, 222)10px;
    border-left: solid rgb(136, 234, 221)8px;
    border-radius: 10px;
    border-style: groove;
    
   
}
button{
    margin-top: 10px;
}
/* #prjts{animation:fadeIn 7s ;}
@keyframes fadeIn{
    0%{opacity: 0}
    50%{opacity: 3;}
    100%{opacity: 5;}
} */
#prjts{animation:slideIn 2s}
@keyframes slideIn{
    0%{transform: translateX(-250px);}
    /* 50%{transform: translateX(0);}
    100%{transform: translateX(50%);} */
}